<h2> <img src="assets/imagen.jpg" width="50" style="margin-bottom: 2px;">Informes</h2>
<hr>
<ul class="list-group">
  <li routerLink=""
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact:true}"
      class="list-group-item">
      Informe
  </li>
  <li
      routerLink="fc03"
      routerLinkActive="active"
      class="list-group-item">
      Informe FC-03
    </li>
  <li
      routerLink="fc04"
      routerLinkActive="active"
      class="list-group-item">
      Informe FC-04
    </li>
    <li
      routerLink="fc05"
      routerLinkActive="active"
      class="list-group-item">
      Informe FC-05
    </li>
    <li
    routerLink="fc06"
    routerLinkActive="active"
    class="list-group-item">
    Informe FC-06
  </li>
  <li
      routerLink="fc10"
      routerLinkActive="active"
      class="list-group-item">
      Informe FC-l0
  </li>
  <li
      routerLink="fcSearch"
      routerLinkActive="active"
      class="list-group-item">
      Buscar Informe
  </li>
</ul>
