<h2>Consolidación de bienes de uso</h2>
<div class="container">

  <div class="row">

    <label for="desde">Mes</label>
    <select class="form-select" aria-label="Default select example" name="mes" [(ngModel)]="monthSelect" >

      <option value="1">Enero</option>
      <option value="2">Febrero</option>
      <option value="3">Marzo</option>
      <option value="4">Abril</option>
      <option value="5">Mayo</option>
      <option value="6">Junio</option>
      <option value="7">Julio</option>
      <option value="8">Agosto</option>
      <option value="9">Septiembre</option>
      <option value="10">Octubre</option>
      <option value="11">Noviembre</option>
      <option value="12">Diciembre</option>
  </select>

  <label for="desde">Año</label>
  <select class="form-control" name="year" [(ngModel)]="yearSelect" >
    <option value="2022">2022</option>
    <option value="2023">2023</option>
</select>

  </div>
  <br>
<button class="btn btn-info" (click)="generarInformeF05()">Generar Informe</button>
</div>

